

<div class="container">
    <form (ngSubmit)="search(f)" #f="ngForm">
        <div class="row d-flex justify-content-center align-items-center" style="height: 20em;" id="search-area">
            <div class="col-4">
                <div class="md-form search-input">
                    <input class="form-control" 
                        mdbInput 
                        type="text" 
                        name="search" 
                        required ngModel>
                    <label for="search">Search</label>
                    <div *ngIf="!f.valid && f.touched" class="alert alert-light" role="alert">
                        Seach cannot be empty
                    </div>
                </div>                
            </div>
            <div class="col-auto">
                <button mdbBtn [disabled]="!f.valid" color="purple"  mdbWavesEffect>
                    <mdb-icon fas icon="search" class="mr-1"></mdb-icon>
                    Search
                </button>
            </div>
        </div>
    </form>
    <div *ngIf="isSearched">
        <app-user-list [searchValue]="searchValue"></app-user-list>
        <app-repository-list [searchValue]="searchValue"></app-repository-list>
        <app-issue-list [searchValue]="searchValue"></app-issue-list>
    </div>
</div>

