<div class="row" id="issues-area">
    <div class="col-12" *ngIf="error">
        <div class="alert alert-danger" role="alert">
            Something went wrong, please try again later!
        </div>
    </div>
    <div class="col-12">
        <h4>Issues</h4>
        <hr>
    </div>
    <div class="row" *ngIf="!isIssueSearch && issuePages > 0">
        <div class="col-sm-12 col-md-6 col-lg-4"
            *ngFor="let issue of issues">
            <app-issue [issue]="issue"></app-issue>
        </div>
        <div class="col-12">
            <app-pagination [active]="currentPage" [lastPage]="issuePages" (currentPage)="selectPage($event)"></app-pagination>
        </div>
    </div>

    <div *ngIf="!isIssueSearch && issuePages  <= 0" class="col-12 alert alert-light" role="alert">
        No Matches Found
    </div>
    <div class="col text-center" *ngIf="isIssueSearch">
        <app-spinner></app-spinner>            
    </div>
</div>